# Dependencies
node_modules/

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Build output
dist

# macOS
.DS_Store

# Serverless
.serverless/

# Coverage
coverage
*.lcov

# Editor
.vscode-test
